<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada suscipit molestie. Donec et hendrerit lectus. Duis consectetur sodales accumsan. Maecenas vitae elementum metus. Nam convallis justo metus, et convallis felis semper nec. Mauris ut efficitur leo. Suspendisse accumsan vulputate lectus porttitor egestas. Donec vulputate mauris vel lacus auctor, et hendrerit magna luctus. Nam id maximus tellus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada suscipit molestie. Donec et hendrerit lectus. Duis consectetur sodales accumsan. Maecenas vitae elementum metus. Nam convallis justo metus, et convallis felis semper nec. Mauris ut efficitur leo. Suspendisse accumsan vulputate lectus porttitor egestas. Donec vulputate mauris vel lacus auctor, et hendrerit magna luctus. Nam id maximus tellus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada suscipit molestie. Donec et hendrerit lectus. Duis consectetur sodales accumsan. Maecenas vitae elementum metus. Nam convallis justo metus, et convallis felis semper nec. Mauris ut efficitur leo. Suspendisse accumsan vulputate lectus porttitor egestas. Donec vulputate mauris vel lacus auctor, et hendrerit magna luctus. Nam id maximus tellus.</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>